.env
.venv/
venv/
__pycache__/
*.pyc
node_modules/
.vscode/
dist/

backend/token.pickle
backend/venv/
backend/.env
backend/__pycache__
backend/data/monthly_income.json
backend/data/monthly_spending.json
backend/data/transactions.json
backend/data/category_scores.json
backend/data/gmail_state.json
backend/data/monthly_SIP.json
backend/data/monthly_investment.json